@import url("https://fonts.googleapis.com/css?family=Inter:wght@400;500;600;700;800&display=swap");

.ava-upsell-root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
